@charset "UTF-8";
body {
  background-color: var(--white-color);
  color: var(--primary-title-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.section {
  padding: 94px 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  padding: auto;
  color: var(--primary-title-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo__accent {
  color: var(--accent-color);
}

.logo--footer {
  color: var(--white-color);
}

.hero__button, .button__subscribe, .modal__button {
  min-width: 200px;
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
}

.hero__button {
  display: block;
  padding: 10px 32px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

.button__subscribe {
  display: flex;
  align-items: center;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  margin-left: 12px;
}

.subscribe__icon {
  margin: 13px 8px 13px 10px;
  fill: var(--white-color);
}

.modal__button {
  padding: 10px 55px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button:hover, .modal__button:focus {
  background-color: #188ce8;
}

.team__title,
.works__title, .clients__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.hero__title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  max-width: 696px;
  margin: auto;
}

.clients__title {
  color: var(--primary-title-color);
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}

.social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
}

.social__button {
  margin-left: 10px;
}

.social__button:first-child {
  margin-left: 0;
}

.social {
  display: flex;
  justify-content: center;
  margin: 16px 32px 0 32px;
}

.social__icon {
  margin: 12px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: #ffffff;
}

.join {
  margin-top: 12px;
  margin-left: 70px;
}

.join__social {
  display: flex;
}

.social__link--join {
  background-color: rgba(255, 255, 255, 0.1);
}

.social__icon--join {
  fill: var(--white-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #fff;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.close__button {
  width: 18px;
  height: 18px;
}

.close:hover .close__button,
.close:focus .close__button {
  fill: var(--accent-color);
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.form:first-child {
  margin-top: 0;
}

.form__name {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.field {
  position: relative;
}

.field__input {
  padding: 0;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 42px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.field__input:focus-within {
  outline: none;
  border: 1px solid #2196f3;
}

.field__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.form:focus-within .field__icon {
  fill: #2196f3;
}

.field__comment {
  resize: none;
  height: 120px;
  width: 100%;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.field__comment:focus-within {
  outline: none;
  border: 1px solid #2196f3;
}

.field__comment::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.agreement__icon {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  display: inline-block;
  background-origin: border-box;
  border: 2px solid #212121;
  border-radius: 2px;
}

.agreement__check:checked + .agreement__icon {
  background-color: var(--accent-color);
  background-size: contain;
  background-origin: border-box;
  border: 2px solid var(--accent-color);
}

.conditions {
  color: var(--accent-color);
  margin-left: 7px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--features-background-color);
}

.container--header {
  display: flex;
  align-items: center;
  height: 80px;
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav__list {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.site-nav__item {
  margin-right: 50px;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav__item:last-child {
  margin-right: 0;
}

.site-nav__link {
  color: var(--primary-title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  width: auto;
  text-decoration: none;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link--current {
  width: auto;
  color: var(--accent-color);
  text-decoration: none;
}

.site-nav__link--current::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  display: block;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.adress-nav {
  display: flex;
  margin-left: auto;
}

.adress-nav__item {
  margin-left: 30px;
}

.adress-nav__item:first-child {
  margin-left: 0;
}

.adress-nav__link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-nav__link:hover, .adress-nav__link:focus {
  color: var(--accent-color);
}

.adress-nav__icon {
  fill: currentColor;
  margin-right: 10px;
  margin-bottom: 0;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg-photo.jpg");
  background-size: cover;
  background-position: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.features {
  padding-bottom: 47px;
}

.features__list {
  display: flex;
}

.features__item {
  margin-left: 30px;
  min-width: calc((100% - 90px) / 4);
}

.features__item:first-child {
  margin-left: 0;
}

.features__block {
  min-width: calc((100% - 90px) / 4);
  height: 120px;
  background-color: var(--team-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features__text {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.71;
}

.team {
  display: flex;
  background-color: var(--team-background-color);
}

.employees {
  display: flex;
}

.employees__card {
  min-width: calc((100% - 90px) / 4);
  margin-right: 30px;
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.employees__card:last-child {
  margin-right: 0px;
}

.employees__block {
  padding-top: 30px;
  padding-bottom: 30px;
}

.employees__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.employees__position {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.works {
  padding-top: 47px;
}

.works__list {
  display: flex;
  position: relative;
}

.works__item {
  margin-right: 30px;
}

.works__item:last-child {
  margin-right: 0px;
}

.works__description {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
}

.companies {
  display: flex;
  justify-content: center;
}

.companies__item {
  margin-left: 30px;
}

.companies__item:first-child {
  margin-left: 0;
}

.companies__link {
  min-width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.companies__link:hover, .companies__link:focus {
  border: 1px solid var(--accent-color);
}

.companies__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.companies__link:hover .companies__icon,
.companies__link:focus .companies__icon {
  fill: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-background-color);
}

.footer--container {
  display: flex;
}

.contacts__list {
  margin-top: 20px;
}

.contacts__item {
  margin-top: 9px;
}

.contacts__item:first-child {
  margin-top: 0px;
}

.contacts__link {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
  font-style: normal;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.contacts__link--map {
  color: var(--white-color);
}

.join__title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe {
  margin-top: 12px;
  margin-right: 0;
  margin-left: auto;
}

.subscribe__title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.mail {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mail__insert {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
}

.mail__insert::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--white-color);
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter__item {
  margin-right: 8px;
}

.filter__item:last-child {
  margin-right: 0;
}

.filter__button {
  padding: 6px 22px;
  border: 1px solid transparent;
  background-color: var(--team-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover, .filter__button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.progects {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.progects__item {
  margin-right: 30px;
  margin-bottom: 30px;
  max-width: calc((100% - 60px) / 3);
  display: inline;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.progects__item:nth-child(3n) {
  margin-right: 0;
}

.progects__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.progects__item:hover, .progects__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.progects__link {
  display: inline;
  text-decoration: none;
}

.card {
  position: relative;
  overflow: hidden;
}

.card__description {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(101%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 24px;
  padding-left: 24px;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.progects__link:hover .card__description,
.progects__link:focus .card__description {
  transform: translateY(0);
}

.card__content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.card__title {
  color: var(--primary-title-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card__text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
}

:root {
  --primary-text-color: #757575;
  --secondary-text-color: rgba(255, 255, 255, 0.6);
  --primary-title-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --footer-background-color: #2f303a;
  --features-background-color: #e5e5e5;
  --team-background-color: #f5f4fa;
}

/*цвет заголовков #212121 */
/*цвет основного текста #757575 */
/*голубой #2196F3 */
/*белый #ffffff */
/*цвет текста в футере rgba(255, 255, 255, 0.6); */
/*цвет фона секции и футера  #2F303A */
/*цвет фона секции #E5E5E5 */
/*цвет фона секции #F5F4FA */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/*# sourceMappingURL=main.css.map */